# Ignore Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/

# Visual Studio Code settings
.vscode/

# NuGet packages
*.nupkg
packages/

# Logs and caches
*.log
*.cache
*.tmp
# Rider settings