@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create Report</h1>

<form asp-action="CreateReport" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ReporterName">Reporter Name</label>
        <input type="text" class="form-control" id="ReporterName" name="ReporterName" required />
    </div>

    <div class="form-group">
        <label for="WardId">Ward ID</label>
        <input type="number" class="form-control" id="WardId" name="WardId" required />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>

    <div class="form-group">
        <label for="PhotoPath">Attach Photo (Optional)</label>
        <input type="file" class="form-control" id="PhotoPath" name="PhotoPath" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>